<h1 class="d-flex justify-content-center align-content-center text-primary m-5"><u>Books</u></h1>



<div>
	<table>
		<thead class="border-1 ">
			<th class="text-center  border-1 p-2">Id</th>
			<th class="text-center border-1 p-2 ">Title</th>
			<th class="text-center  border-1 p-2">Description</th>
		</thead>
		<% @books.each do |book| %>
		<tr class="border-1 ">
			
			<td class="p-2"><%= book.id %></td>
			<td class="p-5"><%= book.title %></td>
			<td class="p-3"><%= book.description %></td>
			
		</tr>
		<% end %>
	</table>
</div>
<%= form_with url: "/books", method: :patch do |form| %>
  <%= form.button "Delete", formmethod: :delete, data: { confirm: "Are you sure?" } %>
  <%= form.button "Update" %>
<% end %>
